<div class="form-text" *ngIf="success ">
  Elemento creado con éxito
</div>



<div class="container">
  <form class="row" [formGroup]="formCreate">
    <div class="col">
      <label for="make" class="form-label">Make</label>
      <input type="text" class="form-control" id="name" formControlName="make">
      <div class="form-text" style="color:red"
           *ngIf="validatorService.invalidField(formCreate,'make','required')">
        Make required
      </div>
    </div>

    <div class="col">
      <label for="year" class="form-label">Year</label>
      <input type="text" class="form-control" id="lastName" formControlName="year">
    </div>

    <div class="col">
      <label for="sales" class="form-label">Sales</label>
      <input type="number" class="form-control" id="lastName" formControlName="sales">
    </div>



    <div class="col-3" style="margin-top:10px;">
      <button type="submit"
              class="btn btn-info"
              (click)="create();">
        Create
      </button>
    </div>


  </form>
</div>



